body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-radius: 4%;
    padding: 20px;
    box-shadow: 0px 0px 2px rgba(190, 220, 112, 0.1);
    max-width: 400px;
    width: 100%;


}
.container:hover{
    background-color: cornflowerblue;
    
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.1);
    

}
h1 {
    font-size: 30px;
    text-align: center;
    text-decoration: double;
    margin-bottom: 5px;


}
.containerr {
    display: block;
    margin-bottom: 5px;



}
.containerr input{
width: 95%;
padding: 10px;
border-radius: 5px;
box-shadow: inset;
font-size: medium;


}

.result{
font-size: medium;
text-align: center;
margin-top: 10px;


}

.btn :hover{
    background-color: rgb(230, 144, 15);
    color: black;
}
.btn{
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    justify-content: center

    
}